<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatbot">

    <select id="findPoliceByLocation" resultType="com.end2end.ansimnuri.chatbot.dto.PoliceDto">
        SELECT NAME, ADDRESS, LATITUDE, LONGITUDE
        FROM POLICE
    </select>

</mapper>