<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qna">
    <select id="selectAll" resultType="com.end2end.ansimnuri.board.dto.QnaDTO">
        SELECT *
        FROM (
            SELECT A.*, ROW_NUMBER() OVER (ORDER BY id) AS rnum
            FROM (
                SELECT qna.*, member.id as userId, member.nickname as nickname
                FROM QNA
                JOIN MEMBER
                    ON member_Id = MEMBER.id) A
            )
        WHERE rnum BETWEEN ${start} AND ${end}
    </select>

    <select id="countAll" resultType="Integer">
        SELECT NVL(COUNT(*), 0) FROM QNA
    </select>

    <select id="selectByUserId" resultType="com.end2end.ansimnuri.board.dto.QnaDTO">
        SELECT *
        FROM (
            SELECT A.*, ROW_NUMBER() OVER (ORDER BY A.id) AS rnum
            FROM (
                SELECT qna.*, member.id as userId, member.nickname as nickname
                FROM QNA
                JOIN MEMBER
                    ON member_Id = MEMBER.id
                WHERE member_Id = ${userId}) A
        )
        WHERE rnum BETWEEN ${start} AND ${end}
    </select>

    <select id="countByUserId" resultType="Integer">
        SELECT COUNT(*)
        FROM QNA
        WHERE member_Id = ${userId}
    </select>

    <select id="selectById" resultType="com.end2end.ansimnuri.board.dto.QnaDTO">
        SELECT *
        FROM QNA
        JOIN MEMBER
            ON QNA.MEMBER_Id = MEMBER.id
        WHERE QNA.id = ${id}
    </select>

    <insert id="insert">
        INSERT INTO QNA(id, memberId, title, content)
        VALUES (QNA_ID_SEQ.nextval, ${userId}, #{title}, #{content})
    </insert>

    <update id="update">
        UPDATE QNA SET title = #{title}, content = #{content} WHERE id = ${id}
    </update>

    <delete id="deleteById">
        DELETE FROM QNA WHERE id = ${id}
    </delete>
</mapper>